footer {
    background-color: black;
    width: 100%;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

footer img {
    height: 39px;
    width: 122px;
    margin-top: 66px;
}

footer p {
    color: white;
    margin-top: 28px;
}

@media screen and (max-width: 768px) {


    footer p {
        width: 99px;
        font-size: 12px;

    }

    footer img {

        margin-top: 59px;
    }


}