.carousel-container {
    max-width: 1240px;
    height: 415px;
    border-radius: 25px;
    position: relative;

    margin-top: 50px;

}

.carousel {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 25px;
}

.left-arrow {
    position: absolute;
    top: 35%;
    right: 90%;
}

.right-arrow {
    position: absolute;
    top: 35%;
    left: 90%;
}

.carousel-container p {
    position: absolute;
    left: 50%;
    bottom: 0;
    color: white;
}

@media screen and (max-width: 768px) {

    .carousel-container p {
        display: none;
    }

    .carousel-container {
        height: 255px;
    }

    .right-arrow {

        height: 20px;
        left: 94%;
        top: 45%;


    }

    .left-arrow {

        height: 20px;
        right: 94%;
        top: 45%;
    }

}