.content {
    display: none;


}


.content.active {
    display: block;
    background-color: #F6F6F673;
}

.collapsible.rotated-image {
    transform: rotate(-180deg);
    transition: transform 0.2s linear;
}

.collapsible {
    transform: rotate(0deg);
    transition: transform 0.2s linear;
}

.collapse-container {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    height: 52px;
    background-color: #FF6060;
    justify-content: space-between;
    border-radius: 10px;
    color: white;
    align-items: center;
    padding: 0 10px;
}



.collapse-container img {
    height: 13px;
    width: 24px;

}


.content p {
    font-size: 18px;
    padding: 20px;
    margin: 0;
}


@media screen and (max-width: 768px) {

    .about-container .collapse-wrapper {
        width: 100%;
    }

    .collapse-container {
        height: 33px;
    }

    .collapse-container img {
        height: 9px;
        width: 16px;

    }

    .collapse-container p {

        font-size: 13px;
    }

    .content p {
        font-size: 12px;
    }



}