.property-infos-container {
    margin-top: 30px;
    margin-bottom: 50px;
}

.title h2 {
    font-size: 36px;
    color: #FF6060;
    margin: 0;
    font-weight: 500;
}

.title p {
    margin: 0;
    font-size: 18px;
    margin-bottom: 22px;
    font-weight: 500;
}

.host img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}



.title-tags {
    display: flex;
    flex-direction: column;

}

.host {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.host p {
    text-align: right;
    color: #FF6060;
}

.rating-host {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;


}

.essentials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tags {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.tags span {
    padding: 0 15px;
    height: 25px;
    display: flex;
    border-radius: 7px;
    align-items: center;
    font-size: 14px;
    background-color: #FF6060;
    color: white;
}

.info-buttons .collapse-wrapper {
    width: 45%;
}

.info-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.rating-host .ratings-container {
    gap: 4px;
    display: flex;
    align-items: center;


}

@media screen and (max-width: 768px) {

    .property-infos-container {
        display: flex;
        flex-direction: column;
    }

    .essentials {
        flex-direction: column;
    }

    .rating-host {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 16px;
        align-items: center;
    }

    .rating {
        display: flex;
        justify-content: center;
    }


    .host img {
        width: 32px;
        height: 32px;
    }

    .host p {
        margin: 0;
    }

    .title h2 {
        font-size: 18px;
    }

    .title p {
        font-size: 12px;
    }




    .rating-host .rating img {

        width: 13px;

    }

    .info-buttons {

        flex-direction: column;
        row-gap: 20px;

    }

    .info-buttons .collapse-wrapper {
        width: 100%;
    }

    .tags span {
        height: 20px;

        font-size: 10px;
    }

}