.about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 38px;
    margin-bottom: 38px;
    align-items: center;
}

.about-container .collapse-wrapper {
    width: 80%;
}

@media screen and (max-width: 768px) {

    .about-container .collapse-wrapper {
        width: 100%;
    }





}