header img {
    width: 210px;
    height: 68px;
}

header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 45px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-self: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 57px;
    margin: 0;
    padding: 0;
}

nav ul a {
    font-size: 24px;
    color: black;
    text-decoration: none;
    font-weight: 500;
}


@media screen and (max-width: 768px) {

    header {
        margin: 0 20px;
        margin-top: 20px;
    }

    header img {
        width: 146px;
        height: 47px;
    }

    nav ul a {
        font-size: 12px;
        text-transform: uppercase;

    }

    nav ul {
        gap: 26px;
    }

}