.banner-container {
    max-width: 1240px;
    height: 223px;
    border-radius: 25px;
    position: relative;

    margin-top: 50px;

}

.banner-container img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 25px;
    filter: brightness(50%);
}

.banner-container p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 500;
    font-size: 48px;
    text-align: center;
    margin: 0;
    width: 100%;
    font-weight: bold;

}

@media screen and (max-width: 768px) {

    .banner-container {
        height: 111px;
        margin-top: 20px;
    }

    .banner-container p {

        font-size: 24px;

    }

}