.housings-container {
    margin-top: 43px;
    background-color: #F6F6F6;
    border-radius: 25px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.housing-grid {
    margin-top: 50px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 30%);

    row-gap: 50px;
    column-gap: 60px;
    margin-bottom: 43px;
}


.housing-grid figure {
    margin: 0;
    height: 340px;
    border-radius: 10px;
}

.housing-grid img {
    width: 100%;
    height: 340px;
    border-radius: 10px;
    object-fit: cover;

}

.housing-grid p {
    position: relative;
    bottom: 80px;
    color: white;
    left: 20px;
    max-width: 300px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {

    .housing-grid {
        width: unset;
        grid-template-columns: 1fr;
        margin-top: 0px;
        margin-bottom: 0px;
        row-gap: 20px;
    }

    .housings-container {
        width: unset;
        background-color: transparent;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    main {
        margin: 0 20px;
    }

    .housing-grid figure {

        height: 255px;

    }

    .housing-grid img {

        height: 255px;


    }





}